body {
  font-family: $font-stack;
  font-size: 16px;
  font-weight: $font-light;
  color: #444;
}

#title {
  background-color: $primary-color;
  
  h1, h2 {
    text-align: center;
    color: #fff;   
  }

  h1 {
    font-size: 3rem;
    font-weight: $font-bold;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

table {
  text-align: left;
  background-color: #fff;  
  
  caption {
    text-align: center;
    background-color: $secondary-color;
    color: #fff;
    font-size: 1.2rem;
    font-weight: $font-bold;
  }

  th {
    font-weight: $font-bold;
  }
}

#add-train {
  text-align: left;
  background-color: #fff;

  legend {
    text-align: center;
    background-color: $secondary-color;
    color: #fff;
    font-size: 1.2rem;
    font-weight: $font-bold;
  }

  label {
    font-weight: $font-bold;
  }

  button {
    background-color: $secondary-color;
    color: #fff;    
  }
}
