/* Styling for #add-train module */

#add-train {
  border: 2px solid $secondary-color;
  @include border-radius($border-rad);
  text-align: left;
  background-color: #fff;

  legend {
    display: table-caption;
    border: 2px solid #8A7df6;
    border-top-left-radius: $border-rad;
    border-top-right-radius: $border-rad;
    margin-bottom: 10px;
    text-align: center;
    background-color: $secondary-color;
    color: #fff;
    font-size: 1.2rem;
    font-weight: $font-bold;
  }

  label, input, button {
    margin: 5px;
  }
  
  label {
    display: inline-block;
    font-weight: $font-bold;
  }

  input {
    width: 90%;
    border: 1px solid #444;
    border-radius: $border-rad;
  }
  
  .button {
    width: auto;
    border: 0;
    border-radius: $border-rad;
    padding: 10px;
    background-color: $secondary-color;
    color: #fff;   
  }
}
