/* Styling for #title in header*/

#title {
  background-color: $primary-color;
  
  h1, h2 {
    text-align: center;
    color: #fff;   
  }

  h1 {
    font-size: 3rem;
    font-weight: $font-bold;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
