table {
  text-align: left;
  background-color: #fff;  
  border: 2px solid $secondary-color;
  @include border-bottom-left-radius($border-rad);
  @include border-bottom-right-radius($border-rad);

  caption {
    display: table-caption;
    border: 2px solid $secondary-color;
    @include border-top-left-radius($border-rad);
    @include border-top-right-radius($border-rad);
    background-color: $secondary-color;
    color: #fff;
    font-size: 1.2rem;
    font-weight: $font-bold;
    text-align: center;
  }

  tr {
    width: 100%;
  }

  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  th {
    font-weight: $font-bold;
  }
}
