/* Overall layout */

body {
  background-image: url('../images/noisy_grid.png');
}

.wrapper {
  margin: 0 auto;
  padding: 0 auto;
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: auto auto auto; 
  grid-gap: 2vh;
}

header {
  display: block;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

section {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  table {
    width: 100%;
    margin: 0 auto;
  }
}

aside {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  width: 100%;

  #add-train {
    margin: 0 auto;
  }
}
