body {
  background-image: url('../images/noisy_grid.png');
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #444;
}

.wrapper {
  display: grid;
  width: 100%;
  grid-template-areas: 
    "title"
    "train-table"
    "add-train";
}

#title {
  display: block;
  background-color: #B6AA5C;
}

#title h1, h2 {
  font-weight: 600;
  text-align: center;
  color: #fff;
  grid-template: "title";
}

#title h1{
  font-size: 3em;
}

#title h2 {
  font-size: 1.5em;
}

#train-table {
  grid-template: "train-table";
}

#train-table {

}

#add-train {
  grid-template: "add-train";
}